*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#map {
        width: 98%;
        height: 400px;
        background-color: grey;
        margin: 1%;
        min-width: 350px;
}

#please-use-me {
    margin: 1%;
}

#art-query {
    padding: 1%;
}