*{
    margin: 0;
    padding: 0;
}

body {
    min-width: 600px;
}

form {
    background-color: rgb(242, 242, 242);
    padding: 1%;
    width: 33%;
    margin: 50px auto;
    border-radius: 5px;
    min-width: 400px;
}

p {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 80%;
    margin: 5px 0;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    width: 100%;
    box-sizing: border-box;
}

span {
    display: block;
}

input[type=submit]{
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(74, 168, 222);
    color: rgb(255, 255, 255);
}

li {
    list-style-type: none;
    color: rgb(255, 0, 0);
}