<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../static/css/index_styles.css?rand=69895" />
    <script type=text/javascript>
      var art = JSON.parse({{ art|safe }});
    </script>
  </head>
  <body>
    <div class="header">
      <h1><a href="/art_map/">Vancouver Art</a></h1>
      <div class="dropdown" onclick="toggleDropdown()">
        <div class="dropdown-item" style="z-index: 5" >
          Menu
        </div>
        {% if user.is_authenticated %}
          <div class="dropdown-item" style="z-index: 4" >
            <a href="/art_map/logout/">Logout</a>
          </div>
        {% else %}
          <div class="dropdown-item" style="z-index: 3">
            <a href="/art_map/register/">Register</a>
          </div>
          <div class="dropdown-item" style="z-index: 2">
            <a href="/art_map/login/">Login</a>
          </div>
        {% endif %}
          <div class="dropdown-item" style="z-index: 1">
            <a href="/art_map/profile/">Profile</a>
          </div>
      </div>
    </div>
    <div id="map"></div>
	<script type=text/javascript>
	  var map;
	  var markers = {};
	  function initMap() {
	    var vancouver = {lat: 49.2827, lng: -123.1207};
	    var img = {url: '/static/pics/fancy-icon.png', scaledSize: new google.maps.Size(20, 20)};
	    var infowindow = new google.maps.InfoWindow({maxWidth: 200});
	    var title;
	    var lat;
	    var lon;
	    var point;
	    var marker;
	    var photoURL;
	    var description;
	    var art_id;
	    map = new google.maps.Map(document.getElementById('map'), {zoom: 11, center: vancouver});
	    for (i = 0; i < art.length; i++){
	      art_id = art[i].pk;
	      title = art[i].fields['title'];
	      description = art[i].fields['description'];
	      photoURL = art[i].fields['photoURL'];
	      lat = art[i].fields['lat'];
	      lon = art[i].fields['lon'];
	      if (lat && lon){
		    point = {lat: lat, lng: lon};
		    marker = new google.maps.Marker({position: point, map: map, icon: img});
		    google.maps.event.addListener(marker, 'click', (
		      function (art_id, title, description, photoURL) {
		        return function() {
		          infowindow.setContent(
		            "<div style=\"max-height:150px\";\"overflow-y:auto\">" +
				      "<form id=\"add_favourite_form\" method=\"post\" action=\"/art_map/add_favourite/\">" +
			            "{% csrf_token %}" +
				        "<input type=\"hidden\" id=\"art_id\" name=\"art_id\" value="+art_id+">" +
				        "<b>"+title+"</b><br/>" +
				        "Description: "+description+"<br/>" +
				        "Photo:<a href="+photoURL+">"+photoURL+"</a><br/>" +
				        "<input type=\"submit\" value=\"favourite\"/><br/>" +
				      "</form><br/>" +
				    "</div>");
		          infowindow.open(map, this);
		        }
		      })(art_id, title, description, photoURL));
		    markers[art_id] = marker;
	      }
	    }
	  }
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap"
	async defer></script>
    {% if user.is_authenticated %}
      <form id="art-query" action="">
        <input type="radio" name="markerSet" value="Favourites"> Show Favourites
        <input type="radio" name="markerSet" value="All" checked="checked"> Show All
      </form>
      <script type=text/javascript>
        var elements = document.getElementsByName("markerSet");
        var v;
        for(var i = 0; i < elements.length; i++){
          v = elements[i].value;
          elements[i].addEventListener("click", (function(v) {
            return function(){
              if (v == "Favourites"){
                for (var key in markers){
                  markers[key].setMap(null);
                }
                {% for ap in user.userprofile.favourites.all %}
                  markers["{{ ap.pk }}"].setMap(map);
                {% endfor %}
              } else {
                for (var key in markers){
                  markers[key].setMap(map);
                }
              }
            }
          })(v));
        }
      </script>
    {% endif %}

    <script type=text/javascript>

      function toggle(item, i, position){
        var interval = setInterval(helper, 2);
        var delta;
        position == "down" ?
         delta = 0 :
         delta = parseInt(item.style.top);
        function helper(){
          if ((delta == (100*i) && position == "down") || (delta == 0 && position == "up")){
            clearInterval(interval);
          } else {
            position == "down" ? delta++: delta--;
            item.style.top = delta + "%";
          }
        }
      }

      function toggleDropdown(){
        var dropdown = document.querySelectorAll('.header .dropdown');
        var dropdownItems = document.querySelectorAll('.header .dropdown-item');
        var top = parseInt(getComputedStyle(dropdownItems[dropdownItems.length-1]).top);
        var height = parseInt(getComputedStyle(dropdown[0]).height);
        for (var i = 1; i < dropdownItems.length; i++){
          if (top == 0){
            toggle(dropdownItems[i], i, "down");
          } else if (top == height*(dropdownItems.length-1)){
            toggle(dropdownItems[dropdownItems.length - i], i, "up");
          }
        }
      }
    </script>
  </body>
</html>
