*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#header {
    padding: 1%;
    background-color: rgb(74, 168, 222);
    color: rgb(255, 255, 255);
    width: 98%;
    overflow: visible;
    height: 10%;
}

#header h1 {
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 70px;
    float: right;
    text-align: center;
    height: 1.25em;
}

.dropdown-item {
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    background-color: rgb(74, 168, 222);
    width: 100%;
}

.dropdown-item a {
    text-decoration: none;
    color: inherit;
}


#map {
        width: 98%;
        height: 400px;
        background-color: grey;
        margin: 1%;
}